a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a52;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d8b776;
}
button:focus,
button:focus-visible {
  outline: 4px auto #d8b776;
}

button.selected {
  border-color: #d8b7769c;
}
button.selected:hover {
  border-color: #000000;
}
button.selected:focus,
button.selected:focus-visible {
  outline: 4px auto #000000;
}

.card {
  padding: 2em;
}

#app {
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.monoContainer {
  width: 100%;
  /* max-width: 800px; */
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


html, body {
  width: 100%;
  background: #101010;
  padding-bottom: 20px;
  color: #bdbdbd;
}

body {
  background-color: transparent;
}

.divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo {
  font-size: 25px;
  font-weight: 600;
}

.text-link {
  color: #bdbdbd !important;
}
.text-link:hover {
  color: #dadada !important;
}

.text-color {
  color: #bdbdbd !important;
}
.text-amarela {
  color: #d8b776 !important;
}
.text-azul {
  color: #24b2ba !important;
}

.table>:not(caption)>*>* {
  background: transparent !important;
}



input {
  background: transparent;
  color: #d8b776;
  border: 1px solid #24b2ba50;
  padding: 5px 10px;
  border-radius: 10px;
}
input:focus, input:focus-visible {
  border: 1px solid #888888;
  outline: none;
}
.containerText {
  max-width: 800px;
}
.containerChamp {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.containerLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.divlines {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linesBtn {
  padding: 5px;
  border-radius: 0px;
}
.primeiro {
  border-radius: 8px 0px 0px 8px;
}
.ultimo {
  border-radius: 0px 8px 8px 0px;
}

.imgChamp {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
.divChamp {
  padding: 5px;
  position: relative;
  display: block;
  color: #d8b776;
}
.divChamp:hover {
  color: #24b2ba;
}
.spanChamp {
  display: block;
  width: 46px;
  line-height: 14px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
  height: 16px;
}

.read-the-docs {
  color: #888;
}
.monochamp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 0px;
}
.nomeTd {
  text-align: start;
}
.nome-md {
  font-size: 18px !important;
}
.nome {
  font-weight: 600;
  font-size: 23px;
  text-align: start;
  color: #24b2ba;
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nome:hover {
  color: #d8b776;
}
.nome-sm {
  font-weight: 600;
  font-size: 10px;
  margin-right: 20px;
  margin-left: 5px;
  text-align: start;
}
.direitaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.rankBorda {
  position: absolute;
  left: 0;
}
.iconePlayer {
  margin-top: 6px;
  margin-left: 6px;
}
.iconesCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.icones {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.iconesCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.icone, .item {
  border-radius: 10px;
}
.spells, .trinket {
  border-radius: 6px;
}
.btnVerMais, .btnVerMaisLista {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: transparent;
  border: none;
}
.semItem {
  background-color: #00000036;
}

.routeBtn {
  border-radius: 8px;
  color: #24b2ba;
  padding: 5px 15px 8px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a9a;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid transparent;
}
.routeBtn:hover {
  border: 1px solid #d8b7769c;
  color: #d8b776;
}
.routeBtn:focus,
.routeBtn:focus-visible {
  outline: none;
  border: 1px solid #d8b7769c;
}

.amaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 13px;
}
.ama {
  display: flex;
  flex-direction: column;
}

.runas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.matchupSm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tempoTrinket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.text-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
}
.text-p {
  font-size: 12px;
}
.th-sm {
  font-size: 12px;
  line-height: 12px;
}
.tds-sm>td {
  padding-left: 2px !important;
  padding-right: 2px !important;
}


.divMonoNome {
  padding: 5px;
  position: relative;
  display: block;
  color: #d8b776;
}
.spanMono {
  display: block;
  line-height: 14px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
  height: 16px;
}

.pdl {
  font-size: 12px;
}

.trPartidas {
  border-radius: 10px;
  cursor: pointer;
}

.tr-vermelha {
  background: #472a2f50;
  border-left: 4px solid #472a2f;
}
.tr-azul {
  background: #202a3e50;
  border-left: 4px solid #202a3e;
}
.tr-cinza {
  background: #212425;
  border-left: 4px solid #414141;
}

.red {
  background: #472a2f50;
}
.blue {
  background: #202a3e50;
}


tbody>tr:hover.noHover {
  background-color: none;
  --bs-table-hover-bg: transparent;
}

.progressBarr {
  height: 5px;
  border-radius: 0px;
  background: #333;
}

.skillQ {
  background: #1a242ce6;
  color: #33a9ff !important;
}
.skillW {
  background: #1a242ce6;
  color: #ff8f1a !important;
}
.skillE {
  background: #1a242ce6;
  color: #36ffda !important;
}
.skillR {
  background: #1a242ce6;
  color: #fff !important;
}
div.skillAtiva {
  border: 1px solid #ffffffbe !important;
}
.skillAtiva {
  opacity: 1 !important;
  color: #fff !important;
}
.opacitySkill {
  opacity: 0.3;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
}
.itensTimes {
  border-radius: 5px;
  border: 1px solid #472a2f;
  padding: 2px;
}

.colunaHabilidades {
  display: flex;
  gap: 2px;
}
.linhaHabilidades {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.quadradinhoHabilidades {
  position: relative !important;
  display: flex;
}
.letraHabilidades {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #414141;
  font-weight: bold;
}

.tooltipPersonalizado {
  background: #000;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 400px;
  z-index: 2;
}
.tooltipNome {
  text-align: initial;
}
.tooltipImg {
  border-radius: 6px;
  margin-top: 5px;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

maintext, maintext>status {
  display: block;
  text-align: initial;
}
maintext > li {
  list-style: none;
}

@media (max-width: 1200px) {
  #app {
    padding: 5px;
  }
  body {
    font-size: 15px;
    padding: 5px;
  }
  .nome {
    width: 200px;
  }
  
  .iconesCenter {
    gap: 2px;
  }
  .d-none-md {
    display: none;
  }
  .table>:not(caption)>*>* {
    padding: 5px 5px;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 5px;
  }
  body {
    font-size: 10px;
    padding: 5px;
  }
  .nome-md {
    font-size: 8px !important;
  }
  .nome {
    font-size: 10px;
    width: 200px;
  }
  .icones {
    gap: 2px;
  }
  .icone, .item {
    border-radius: 2px;
  }
  .amaDiv {
    font-size: 9px;
  }
  .d-none-sm {
    display: none;
  }
  .iconePlayer {
    margin-top: 2px;
    margin-left: 2px;
  }
  .max-w-sm-38 {
    width: 38px !important;
  }
  .tresPontinhos-sm {
    display: block;
    width: 46px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tdPadding-sm {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .routeBtn {
    padding: 5px 15px;
  }
  .btnVerMais {
    width: 15px;
  }
  .table>:not(caption)>*>* {
    padding: 3px 3px;
  }
  .spells, .trinket {
    border-radius: 3px;
  }
  .tempoTrinket {
    gap: 0px;
  }
  .text-sm {
    font-size: 9px;
  }
  .letraHabilidades {
    font-size: 6px;
  }
  .opacitySkill {
    border-radius: 1px;
  }
  .letraHabilidades{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-sm-sm {
    font-size: 9px;
  }
  .iconesCenter {
    gap: 2px;
  }
  .input-sm {
    padding: 5px 5px;
    width: 100px;
  }
}


::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}